<h3>classified files list</h3>
{{flash}}
<ul>
  <li><a href='/classified/1'>item 1</a></li>
  <li><a href='/classified/2'>item 2</a></li>
  <li><a href='/classified/3'>item 3</a></li>
  <li><a href='/classified/4'>item 4</a></li>
  <li><a href='/classified/5'>item 5</a></li>
</ul>
